aiogram>=3.0.0
pdfplumber
python-docx
pytesseract
doctr
faiss-cpu
peewee
python-dotenv
Pillow
opencv-python
numpy<2.0
pandas
openpyxl
psycopg2-binary
requests
sentence-transformers
faiss-cpu
torch==2.2.2+cpu --find-links https://download.pytorch.org/whl/torch_stable.html 